body{
    background-color: #6d80ea;
    margin: 0px
}

#wrapper{
    width:960px;
    background-color: #f558e7;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #f676da;
    height: 150px;
    position: relative;
}

header img{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}