body{
    background-color: #354fe3;
    margin: 0px
}

#wrapper{
    width:960px;
    background-color: #f558e7;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #f676da;
    height: 150px;
    position: relative;
}